.bg{
    background-image: url('../../public/bg.png');
    height: 95.5vh;
}

.bg1 {
  position: fixed; /* Ensure the background stays fixed and covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/bg.png'); /* Replace with your image path */
  background-size: cover; /* Make sure the image covers the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  z-index: -1; /* Ensure the background is behind all other content */
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.glassbox {
    width: 350px;
    height: 200px; /* Adjust the width as needed */
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2)); /* Diagonal linear gradient */
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1); /* Enhanced box shadow */
    padding: 20px;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    text-align:"center";
  }

  .glassbox-small {
    width: 250px;
    height: 150px; /* Adjust the width as needed */
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2)); /* Diagonal linear gradient */
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1); /* Enhanced box shadow */
    padding: 20px;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    text-align:"center";
  }


  .glassbox:hover{
    transform: scale(1.03);
    transition: ease-in;
    transition-duration: 0.3s;
  }
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  