@font-face {
    font-family: 'DM Sans'; /* Name your custom font family */
    src: url('../../public/DMSans_18pt-Regular.ttf') format('ttf');
  }
.body {
    background-image: url('../../public/bg.png');
    background-size: cover; /* Fit the background image to cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    height: 100vh;
    background-blend-mode: darken; /* Apply the darken blend mode */
  }
body{
    font-family: 'DM Sans';
}