@font-face {
  font-family: 'Poppins'; /* Name your custom font family */
  src: url('C:\Users\Harris\Desktop\Harris\code\BlockVocates\blockvocates-web\public\Poppins-Regular.ttf') format('ttf');
}
/* Login.css */
.glassmorphism-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height: 560px; /* Adjust the width as needed */
  backdrop-filter: blur(20px) saturate(150%); /* Increased blur and saturation */
  -webkit-backdrop-filter: blur(20px) saturate(150%);
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2)); /* Diagonal linear gradient */
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1); /* Enhanced box shadow */
  padding: 20px;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.orb {
  position: absolute;
  left: 87.4%;
  /* Animation for the orb */
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

  
  .glassmorphism-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .glassmorphism-container input,
  .glassmorphism-container button {
    width: 400px;
    margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: #f6b766;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  .screen{
    height: 100vh;
  }
  
  label{
    color: white;
  }
  .Logintext{
    color: white;
    font-size: 35px;
  }
  .loginbutton{
    background-color: (to right, #ff0000, #0000ff);
    border-radius: 50px;
  }
  .signuptext{
    color: #007AFF;
  }
  body{
    font-family: 'Poppins';
  }
  .tags{
    font-size: 21px;
  }